footer {
    /* position: fixed; */
    width: 100vw;
    height: 40vh;
    /* bottom: 0; */
    background-color: white;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;

}

.flexbox-item {
    position: relative;
    flex: 1;
    background-color: white;

}


.button {
    width: 80px;
    height: 20px;
    background-color: rgb(19, 12, 114);
    color: white;
    align-items: center;
    justify-content: center;
}

.Facebook {
    width: 20px;
    height: 20px;
    align-items: bottom-right;
    justify-content: center;

}

.TikTok {
    width: 20px;
    height: 20px;
    align-items: bottom-right;
    justify-content: center;
}

.Instagram {
    width: 20px;
    height: 20px;
    align-items: bottom-right;
    justify-content: center;
}


.border {
    border: solid red;

}