nav {
    top: 0;
    height: 100px;
    width: 100%;
    background-color: #fff;
    border: solid #247fc5;
}

.content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    gap: 5px;
}

.link {
    text-decoration: none;
    color: rgb(44, 113, 122);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #18bec4;
}

.profile ::picker-icon {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #247fc5;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media(max-width: 600px) {
    .content {
        flex-direction: column;
        height: fit-content;

    }

    .nav {
        height: 150px;
    }

    .links {
        flex-direction: column;
    }
}


@media(max-width: 768px) {
    .c {
        max-width: 600px;
    }
}