.imageStyle {
    padding: 10px;
    width: 100%;
    height: 90px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 80px;
    height: 28px;
    background-color: rgba(3, 17, 112, 0.801);
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    display: block;
    margin-left: 400px;

}

.buttonStyle {
    margin-left: 200px;
    margin-top: 20px;
    align-items: center;
    height: 30px;
}